<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>European debt display</title>
        <link href="styles/index.css" rel="stylesheet" />
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js"></script>
        <link
            href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <main id="app">
            <section id="map"></section>
            <transition name="fadeIn">
                <section id="debt-overview" v-show='data.overviewIsClicked'>
                    <div class="close-element" @click="setOverviewClickedStatus()">
                        <p>Close view</p>
                        <img src="./assets/cross.svg" alt="Close view">
                    </div>
                </section>
            </transition>
            <section class="map-intro" v-show="data.init" v-if="data.loaded">
                <div class="map-intro-content">
                    <h2>How much would it cost to pay off your state debt?</h2>
                    <p>
                        Almost every country in Europa has a debt in some way, 
                        the value of the debt scales from little debt to a very high debt.
                    </p>
                    <p>
                        In this project I am trying to give a better insight in european debt
                        and how much this would cost to each person that lives in the selected
                        country. 
                    </p>
                    <div class="gesture-information">
                        <h3>How to use!</h3>
                        <div class="gesture-information-icons">
                            <p>Drag to navigate<img src="./assets/swipe.svg" alt="Drag gesture"></p>
                            <p>Pinch to zoom<img src="./assets/pinch.svg" alt="Pinch gesture"></p>
                            <p>Touch to interact<img src="./assets/touch.svg" alt="Touch gesture"></p>
                        </div>
                    </div>
                    <button id="flyToLocation">Explore Europe</button>
                </div>
            </section>
            <section class="map-section">
                <header>
                    <h2>Europe debt display</h2>
                    <div class="useful-links">
                        <p @click="setCenter()" class="centerMap">Center map <img src="./assets/center.svg" alt="Center Europe"></p>
                        <p @click="setOverviewClickedStatus()" class="showDebtOverview" v-if='!data.showCountryInfo'>Europe debt overview <img src="./assets/total-overview.svg" alt="Total Europe overview"></p>
                        <p v-else @click="closeCountryInfo()" class="closeView">Close view<img src="./assets/cross.svg" alt="Close view"></span>
                    </div>
                </header>
                <div class="map-state-information">
                    <section class="country-display" v-show='!data.showCountryInfo'>
                        <h3>Sorteer op:</h3>
                        <select id="mapDataFilter">
                            <option selected value="totaleSchuld">Totale schuld</option>
                            <option value="totalePopulatie">Totale populatie</option>
                        </select>
                        <h3>Countries:</h3> 
                        <button id='nextItem'>Go to a random country</button>
                        <div id="countries"></div>
                    </section>
                    <section class="country-info" v-if='data.showCountryInfo'>
                        <h3>{{data.country}}</h3>
                        <h4>Totaal aantal inwoners: {{data.population}}</h4>
                        <h4>Totale schuld: {{data.debt[0].debt.replace(',', '.')}} Miljoen</h4>
                    </section>
                </div>
            </section>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://d3js.org/d3.v5.js"></script>
        <script src="scripts/vueSetup.js"></script>
        <script type="module" src="scripts/stateData.js"></script>
        <script type="module" src="scripts/mapbox.js"></script>
        <script type="module" src="scripts/interactions.js"></script>

    </body>
</html>
